* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background: #f2f3fb;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  user-select: none;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: #343b45;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/***wrapper maintain page content width***/
#wrapper {
  animation: scale 0.4s ease both;
  padding: 1.5rem 0;
  margin: auto;
  width: 85%;
}
#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*****Picture and name*****/
.picture {
  height: 9rem;
  width: 9rem;
  background-color: #52c8ff;
  border-radius: 100%;
  overflow: hidden;
}
.picture img {
  height: 9rem;
  width: 9rem;
}
.name {
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

/*****Few personal details*****/
.info-box {
  width: 100%;
  background-color: #ecf8ff;
  border-radius: 0.5rem;
  border: 2px solid #343b45;
  padding: 1rem 0;
  height: 3.45rem;
  overflow: hidden;
  position: relative;
}
/*if toggle btn click then add .active*/
.info-box .toggle {
  padding: 0.93rem;
  cursor: pointer;
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  right: 0;
}
.info-box.active {
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}
/***toggle button rotate on click***/
.info-box .toggle i {
  transition: 0.25s;
}
.info-box.active .toggle > i {
  transition: 0.25s;
  transform: rotate(-180deg);
}

/***details***/
.details {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: auto;
}
.details ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  text-align: left;
}
.details ul li {
  color: #4b4c4f;
  padding: 0.5rem;
}
.details span {
  color: #0087b2;
}
.details .about {
  line-height: 1.5rem;
}

/*****All social media btn*****/
.social-media {
  width: 100%;
}
.social-media div {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  border: 2px solid #343b45;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.social-media div:hover {
  background: #ffffff;
}

/***responsive for desktop***/
@media only screen and (min-width: 1000px) {
  #wrapper {
    width: 80%;
  }
}

/***Animation***/
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
