* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background: #f2f3fb;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
a {
  color: #343b45;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/***wrapper maintain page content width***/
.wrapper {
  padding: 1.5rem 0;
  margin: auto;
  width: 85%;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*****Picture and name*****/
.picture {
  height: 9rem;
  width: 9rem;
  background-color: #52c8ff;
  border-radius: 100%;
  overflow: hidden;
}
.picture img {
  height: 9rem;
  width: 9rem;
}
.name {
  padding: 1rem 0;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #00445A;
}

/*****Few personal details*****/
.info-box {
  width: 100%;
  background-color: #f5f5fc;
  border-radius: 0.5rem;
  border: 2px solid #343b45;
  padding: 1rem 0;
  height: 3.45rem;
  overflow: hidden;
  position: relative;
}
/*if toggle btn click then add .active*/
.info-box .toggle {
  padding: 0.94rem;
  width: 100%;
  height: 3.36rem;
  cursor: pointer;
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  right: 0;
}
.info-box.active {
  height: auto;
  padding-bottom: 0;
  overflow: visible;
}
/***toggle button rotate on click***/
.info-box .toggle i {
  float: right;
  transition: 0.25s;
}
.info-box.active .toggle > i {
  transition: 0.25s;
  transform: rotate(-180deg);
}

/***details***/
.details {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: auto;
}
.details ul {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  text-align: left;
}
.details ul li {
  color: #4b4c4f;
  padding: 0.5rem;
}
.details b {
  color: #00445A;
  letter-spacing: 1.3px;
}
.details .about {
  line-height: 1.5rem;
}

/***Project section***/
.projects {
  width: 100%;
}

.project {
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #0000001A;
  padding: 0;
  text-decoration: none;
}

.project i{
  font-size: 2rem;
  color: #26CAFF;
}

.project ul {
  list-style-type: none;
  line-height: 0.2rem;
  margin-left: 0.8rem;
}

.project ul li {
  word-wrap: break-word;
  color: #000;
}

.project ul small {
  color: #909090;
}

/*****All social media btn*****/
.social-media {
  width: 100%;
}
.social-media a{
  display: none;
}
.social-media div {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  border: 2px solid #343b45;
  background-color: #f5f5fc;
  padding: 1rem 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.social-media div:hover {
  color: #FFFFFF;
  background-color: #343b45;
}

/* Add zoom in up effect in social media button*/
.zoom-in-up {
  animation: zoom-in-up 460ms ease;
}

@keyframes zoom-in-up {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(30%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/***responsive for desktop***/
@media only screen and (min-width: 1000px) {
  .wrapper {
    width: 55%;
  }
}
